.section__about {
    padding: 7rem 1rem;
    background-color: var(--dark-main-color);
}

.title__about {
    font-size: 2rem;
    text-align: center;
    color: var(--title-color-dark);
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.container__about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    margin-top: 2rem;
}


.about__img {
    justify-self: center;
    padding: 2rem;
    background-color: var(--neutral-color);
}

.about__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 2rem 1rem;
}

.about__icon {
    width: 35px;
    margin-bottom: 0.5rem;
}

.about__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

.about__subtitle {
    font-size: var(--small-font-size);
}

.desc__about {
    font-size: var(--normal-font-size);
    padding: 0 1rem 0 0;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .container__about {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__box {
        padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    .desc__about {
        text-align: center;
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

/* For medium devices */
@media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .desc__about {
        text-align: center;
        padding: 0;
    }
}

/* For small devices */
@media screen and (max-width: 360px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .about__box {
        padding: 0.5rem 0.25rem;
    }
}