.section__home {
    padding: 3rem 0;
}


.bg-pattern {
    position: absolute;
    top: 5rem;
    right: 20%;
    border-radius: 50%;
    width: 700px;
    height: 500px;
    background-color: var(--main-color);
    opacity: 0.2;
    background-image:  radial-gradient(var(--neutral-color) 2px, transparent 2px), radial-gradient(var(--neutral-color) 2px, var(--main-color) 2px);
    background-size: 54px 54px;
    background-position: 0 0,27px 27px;
    z-index: -5;
}

.wrapper__title {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}

.title__home {
    text-align: center;
    color: var(--title-color-dark);
    font-size: 3.2rem;
    font-weight: 800;
    font-family: var(--unique-font);
}

.subtitle__home {
    text-align: center;
    font-size: 1rem;
    color: var(--title-color-dark);
}

.swiper {
    position: relative;
}
  
.swiper-slide {
    position: relative;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .img-swiper {
    display: block;
    width: 300px;
    height: 300px;
    object-fit: contain;
    user-select: none;
    filter: drop-shadow(8px 2px 4px rgba(0, 0, 0, 0.363));
    transition: 0.2s ease-in;
    cursor: grab;
}

.img-swiper.activeSlide {
    transform: scale(1.2);
}

.wrapper__best-seller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.best__seller {
    text-align: center;
    font-size: 1.5rem;
    color: var(--neutral-color);
}

.icon__best-seller {
    overflow-y: hidden;
    color: var(--neutral-color);
    font-size: 1.5rem;
}

/* Modal */

/* Modal overlay style */
.modal-overlay-home {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;
}


.modal-content-home {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    text-align: center;
}

.modal-close-home {
    position: absolute;
    color: black;
    font-size: 2rem;
    cursor: pointer;
    right: 1.3rem;
    top: 1rem;
}

.modal-image-home {
    width: 350px;
    height: 380px;
    scale: 1.2;
    object-fit: contain;
    filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.363));
    z-index: 2;
}

.wrapper-desc__bouquet-home {
    display: flex;
    flex-direction: column;
    align-items: start;
    border-top: 2px solid rgb(0, 0, 0);
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    z-index: 1;
    width: 400px;
}

.modal-title-home {
    font-size: 2.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.363);
    padding-bottom: 0.5rem;
}

.modal-description-home {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: left;
}

.modal-price-home {
    font-size: 1.2rem;
    color: red;
}

.animate__animated .animate__slideInLeft {
    --animate-duration: 2.5s; 
}

.wrapper-rating-home {
    padding: 5px;
    margin-bottom: 0.5rem;
    background-color: rgba(255, 255, 255, 0.176);   
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper-order {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.5rem;
}

.icon__home-modal {
    font-size: 2rem;
    cursor: pointer;
    padding: 3px;
    border-radius: 50%;
}

/* End Modal */

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
    .bg-pattern {
        top: 20%;
        width: 400px;
        height: 400px;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .section__home {
        height: 100vh;
    }

    .title__home {
        font-size: 2rem;
        padding: 1.2rem 0;
    }
    .subtitle__home {
        font-size: 1rem;
        padding-bottom: 1rem;
    }
    .modal-content-home {
        flex-direction: column;
    }
    .modal-image-home {
        width: 200px;
        height: 200px;
    }
    .bg-pattern {
        top: 40%;
        right: 3rem;
        width: 300px;
        height: 300px;
    }
    .modal-close-home {
        font-size: 2rem;
        z-index: 10;
    }
    .wrapper-desc__bouquet-home {
        width: 300px;
    }
    .wrapper-order {
        width: 300px;
    }
}

@media screen and (max-width: 576px) {
}

/* For small devices */
@media screen and (max-width: 350px) {
}