/* Change Background Navbar */
.scroll-header {
    background-color: var(--dark-main-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in;
}

/* End Change Background Navbar */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--header-height);
    z-index: 20;
    padding: 0 1rem;
}

nav {
    height: calc(var(--header-height) + 0.1rem);
    display: flex;
    align-items: center;
}

.nav__menu {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hidden {
    display: none;
}

.nav__list {
    display: flex;
    gap: 1.5rem;
}

.first {
    order: 1;
}

.second {
    order: 3;
}

.logo {
    order: 2;
}

.nav__link {
    color: var(--title-color-dark);
    font-weight: 600;
    padding: 0.4rem 1rem;
}

.nav__link:hover {
    color: var(--grey-color);
    transition: 0.3s;
}

.logo__menu {
    font-size: var(--h2-font-size);
    text-transform: uppercase;
    font-family: var(--unique-font);
    color: var(--title-color-dark);
}

.logo__menu-mobile {
    font-size: var(--h1-font-size);
    text-transform: uppercase;
    font-family: var(--unique-font);
    color: var(--title-color-dark);
}

.nav__toggle {
    display: none;
}

/* Active Link */
.active-link {
    color: var(--text-white);
    background-color: var(--neutral-color);
    border-radius: 20px;
}

/* .menu-hidden, .close-btn {
    transition: 0.5s linear;
}

.menu-logo {
    color: var(--title-color);
    font-size: 32px;
    cursor: pointer;
} */

.hamburger {
    cursor: pointer;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: var(--title-color-dark);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.menu-hidden {
    display: none;
}

/* .bg-dark {
    width: 100vw;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(20px);
    left: 0;
    margin-top: 0.5rem;
    transition: 0.3s ease-in;
    z-index: 5;
} */

/* .close-btn {
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: var(--title-color);
}

.close-hidden {
    display: none;
} */

@media screen and (max-width: 768px) {  
    .header {
        width: 85%;
    }
    
    .nav {
        height: var(--header-height);
    }
    
    .nav__menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        position: fixed;
        right: -100%;
        top: 5rem;
        width: 40%;
        padding: 1.5rem 1rem;
        background-color: var(--dark-main-color);
        border-radius: 5px;
        transition: .3s;
        z-index: 4;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    
    /* Show Menu */
    .show-menu {
        right: 2rem;
    }
    
    .nav__list {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
        gap: 0;
    }
    
    .nav__toggle {
        display: block;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .nav__item {
        padding: 1rem;
        border-radius: 5px;
    }

    .logo__menu {
        display: none;
    }
    
    .logo__menu-mobile {
        order: 1;
    }
    
    .wrapper-hamburger {
        order: 2;
    }
    
}

/* For small devices */
@media screen and (max-width: 350px) {
    .nav__menu {
        width: 50%;
    }
}

